{% extends 'layout.html' %}


{% block content %}

<div class="container">

  <h1>{{title}}</h1>

  <br>

  <form action="/" method="POST">

    <div class="form-group">
      <div class="dropdowns">
        <div>
          <label for="dep_city">Departure City</label>
        </div>
        <select name="dep_city" id="dep_city">
          <option disabled="" selected="none">Choose a City</option>
          <option value="chi">Chicago</option>
          <option value="la">Los Angeles</option>
          <option value="ny">New York</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="dropdowns">
        <div>
          <label for="arr_city">Arrival City</label>
        </div>
        <select name="arr_city" id="arr_city">
          <option disabled="" selected="none">Choose a City</option>
          <option value="chi">Chicago</option>
          <option value="la">Los Angeles</option>
          <option value="ny">New York</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="input_sections">
        <div>
          <label for="checked_bags">No. of Checked Bags ($25/bag)</label>
        </div>
        <input id="checked_bags" type="number" name="bags" value="0"/>
      </div>
    </div>

    <div class="form-group">
      <div class="dropdowns">
        <div>
          <label for="fare_class">Class</label>
        </div>
        <select name="fare_class" id="fare_class">
          <option value="0" selected="">Coach</option>
          <option value="200">Business (+$200)</option>
          <option value="500">First (+$500)</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="input_sections">
        <input id="wifi" type="checkbox" name="wifi"/>
        <label for="wifi">Wifi ($12)</label>
      </div>
    </div>

    <div class="form-group">
      <div class="input_sections">
        <div>
          <label for="discount">Discount Code</label>
        </div>
        <input id="discount" type="text" name="discount"/>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default">Calculate!</button>
    </div>
  </form>

  <div class="output">
    <hr>
    {{output}}
  </div>

</div>

{% endblock %}
